*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
  body.no-scroll {
    overflow: hidden; }

::selection {
  background-color: #79C8C7;
  color: #002529; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Livvic", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.556;
  color: #fff; }

h1,
h2,
h3 {
  font-weight: 700; }

.heading-1--lg {
  font-size: 10rem;
  line-height: 1; }
  @media only screen and (max-width: 900px) {
    .heading-1--lg {
      font-size: 6.4rem;
      line-height: 0.875; } }

.heading-1--sm {
  font-size: 6.4rem;
  line-height: 0.875; }

@media only screen and (max-width: 600px) {
  .heading-1 {
    font-size: 4rem;
    line-height: 1; } }

.heading-2 {
  font-size: 4.8rem;
  line-height: 1; }
  @media only screen and (max-width: 900px) {
    .heading-2 {
      font-size: 3.2rem; } }

.heading-3 {
  font-size: 1.8rem;
  line-height: 1.556; }

.heading--pink {
  color: #F67E7E; }

.heading--azure {
  color: #79C8C7; }

.paragraph-sm {
  font-size: 1.5rem;
  line-height: 1.667; }

@media only screen and (max-width: 900px) {
  .tablet-sm {
    font-size: 1.5rem;
    line-height: 1.667; } }

@media only screen and (max-width: 1250px) {
  .tablet-sm-spaced {
    line-height: 1.867; } }

@media only screen and (max-width: 900px) {
  .tablet-sm-spaced {
    font-size: 1.5rem; } }

.btn {
  text-decoration: none;
  padding: 0.9rem 3.2rem 1.1rem;
  border-radius: 100px;
  border: 2px solid;
  transition: color 0.25s, background-color 0.5s; }
  .btn--primary-light {
    color: inherit;
    border-color: #fff; }
    .btn--primary-light:hover {
      background-color: #fff;
      color: #002529; }
  .btn--primary-dark {
    background-color: #fff;
    color: #012F34;
    border-color: #012F34; }
    .btn--primary-dark:hover {
      background-color: #012F34;
      color: #fff; }
  .btn--secondary-light {
    background-color: #fff;
    color: #002529; }
    .btn--secondary-light:hover {
      background-color: #79C8C7; }

.logo {
  height: 4rem; }
  @media only screen and (max-width: 900px) {
    .logo {
      height: 3.2rem; } }

.seperator {
  width: 5rem;
  height: 4px; }
  .seperator--azure {
    background-color: #79C8C7; }
  .seperator--pink {
    background-color: #F67E7E; }

.feature {
  display: flex;
  align-items: flex-start; }
  @media only screen and (max-width: 600px) {
    .feature {
      flex-direction: column;
      align-items: center;
      text-align: center; } }
  .feature:not(:last-child) {
    margin-bottom: 3.2rem; }
    @media only screen and (max-width: 600px) {
      .feature:not(:last-child) {
        margin-bottom: 4.8rem; } }
  .feature__icon {
    margin-right: 2.3rem; }
    @media only screen and (max-width: 600px) {
      .feature__icon {
        margin-right: 0;
        margin-bottom: 1.6rem; } }
  .feature__title {
    margin-bottom: 1.6rem; }
    @media only screen and (max-width: 600px) {
      .feature__title {
        margin-bottom: 0.8rem; } }

.testimonial {
  position: relative; }
  .testimonial__text {
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 900px) {
      .testimonial__text {
        margin-bottom: 1.6rem; } }
  .testimonial__icon {
    height: 5.6rem;
    position: absolute;
    top: -3.6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1; }
  .testimonial__role {
    margin-top: 0.2rem;
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    line-height: 1.385; }
  .testimonial__avatar {
    margin-top: 3.2rem;
    height: 6.2rem;
    width: 6.2rem;
    border-radius: 50%;
    border: 2px solid #c4fffe; }
    @media only screen and (max-width: 900px) {
      .testimonial__avatar {
        margin-top: 1.6rem; } }

.header {
  display: flex;
  align-items: center;
  padding: 0 11.4vw;
  /*** MOBILE VIEW ***/ }
  @media only screen and (max-width: 900px) {
    .header {
      padding: 0 5.3vw; } }
  @media only screen and (max-width: 600px) {
    .header {
      padding: 0 2.4rem; } }
  .header__logo {
    transform: translateY(4px); }
  .header__nav-toggle, .header__nav-close, .header__nav-pattern {
    display: none; }
  .header__navigation {
    margin-left: 8.1rem;
    flex: 1; }
    @media only screen and (max-width: 900px) {
      .header__navigation {
        margin-left: 4.8rem; } }
  .header__nav-list {
    display: flex;
    align-items: center; }
  .header__nav-link {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s; }
    .header__nav-link:hover {
      color: #F67E7E; }
    .header__nav-link:not(:last-child) {
      margin-right: 4rem; }
  .header__btn {
    margin-left: auto; }
  @media only screen and (max-width: 600px) {
    .header {
      justify-content: space-between; }
      .header__nav-toggle {
        display: block; }
      .header__navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        overflow: hidden;
        z-index: 999; }
      .header__navigation.active {
        visibility: visible;
        opacity: 1; }
      .header__nav-list {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 25.5rem;
        max-width: 100vw;
        background-color: #2C6269;
        padding: 5.64rem 2.59rem 0 4.8rem;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
        transform: translateX(100%);
        transition: all 0.7s; }
      .header__navigation.active .header__nav-list {
        transform: translateX(0); }
      .header__nav-close {
        display: block;
        align-self: flex-end;
        margin-bottom: 3.95rem; }
      .header__nav-link {
        display: none;
        margin-right: 0 !important; }
        .header__nav-link:not(:last-of-type) {
          margin-bottom: 2.4rem; }
      .header__btn {
        display: none;
        margin-left: 0;
        margin-top: 1.2rem; }
      .header__navigation.active .header__nav-link,
      .header__navigation.active .header__btn {
        display: block; }
      .header__nav-pattern {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20rem;
        transform: translateX(50%);
        z-index: -1; } }

/*** INTRO SECTION ***/
.intro {
  padding: 7.3rem 0 25.5rem;
  background-color: #014E56;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 900px) {
    .intro {
      padding: 6.4rem 0 25.6rem; } }
  @media only screen and (max-width: 600px) {
    .intro {
      padding: 4.8rem 0 19.7rem; } }
  .intro__content {
    display: flex;
    align-items: center;
    padding-right: 11.4vw;
    margin-top: 12.9rem; }
    @media only screen and (max-width: 1250px) {
      .intro__content {
        flex-direction: column;
        text-align: center;
        width: 80vw;
        max-width: 60rem;
        margin: auto;
        margin-top: 11.2rem;
        padding: 0; } }
    @media only screen and (max-width: 900px) {
      .intro__content {
        width: 100%;
        max-width: 46rem; } }
    @media only screen and (max-width: 600px) {
      .intro__content {
        margin-top: 8rem;
        padding: 0 2.4rem; } }
  .intro__right {
    display: flex;
    align-items: center;
    transform: translateX(calc(-13.88vw / 2)); }
    @media only screen and (max-width: 1250px) {
      .intro__right {
        transform: none;
        text-align: center; } }
  .intro__pattern--1 {
    width: 13.88vw;
    margin-right: calc(11.4vw - calc(13.88vw / 2)); }
    @media only screen and (max-width: 1250px) {
      .intro__pattern--1 {
        display: none; } }
  .intro__heading {
    width: 40vw;
    max-width: 60rem; }
    @media only screen and (max-width: 1315px) {
      .intro__heading {
        width: 43vw;
        max-width: initial; } }
    @media only screen and (max-width: 1250px) {
      .intro__heading {
        width: 100%;
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 900px) {
      .intro__heading {
        width: 75%;
        min-width: 34rem;
        margin: auto;
        margin-bottom: 2.4rem; } }
  .intro__left {
    width: 30.1vw;
    margin-left: auto; }
    @media only screen and (max-width: 1250px) {
      .intro__left {
        width: 100%;
        margin-left: 0; } }
  .intro__seperator {
    margin-bottom: 7.9rem; }
    @media only screen and (max-width: 1250px) {
      .intro__seperator {
        display: none; } }
  .intro__pattern--2 {
    position: absolute;
    right: 11.4vw;
    bottom: 0;
    width: 24.9vw; }
    @media only screen and (max-width: 1250px) {
      .intro__pattern--2 {
        width: 46.7vw;
        max-width: 40rem;
        right: 50%;
        transform: translateX(50%); } }
    @media only screen and (max-width: 600px) {
      .intro__pattern--2 {
        width: 95vw; } }

/*** FEATURES SECTION ***/
.features {
  padding: 14rem 11.4vw;
  background-color: #012F34;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 900px) {
    .features {
      padding: 10rem 12.6vw; } }
  @media only screen and (max-width: 600px) {
    .features {
      padding: 6.4rem 2.4rem; } }
  .features__container {
    margin-top: 5.4rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 900px) {
      .features__container {
        margin-top: 3.2rem;
        flex-direction: column; } }
  .features__heading {
    width: 31vw; }
    @media only screen and (max-width: 900px) {
      .features__heading {
        width: 100%;
        max-width: 44.5rem;
        margin-bottom: 6.4rem; } }
    @media only screen and (max-width: 600px) {
      .features__heading {
        width: 64vw;
        margin-bottom: 5.6rem; } }
  .features__list {
    width: 37.5vw; }
    @media only screen and (max-width: 900px) {
      .features__list {
        width: 100%; } }
  .features__pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 13.88vw;
    transform: translateX(50%); }
    @media only screen and (max-width: 900px) {
      .features__pattern {
        width: 26vw;
        bottom: initial;
        top: 0; } }
    @media only screen and (max-width: 600px) {
      .features__pattern {
        width: 53vw;
        max-width: 20rem; } }

/*** TESTIMONIALS SECTION ***/
.testimonials {
  padding: 14rem 11.4vw;
  background-color: #004047;
  text-align: center;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 900px) {
    .testimonials {
      padding: 10rem 12.6vw; } }
  @media only screen and (max-width: 600px) {
    .testimonials {
      padding: 14rem 2.4rem; } }
  .testimonials__heading {
    max-width: 94rem;
    margin: auto;
    margin-bottom: 9.2rem; }
    @media only screen and (max-width: 900px) {
      .testimonials__heading {
        margin-bottom: 8.4rem;
        max-width: 57.3rem; } }
  .testimonials__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3.1rem;
    grid-row-gap: 8.4rem; }
    @media only screen and (max-width: 900px) {
      .testimonials__grid {
        grid-template-columns: 1fr; } }
  .testimonials__pattern {
    position: absolute; }
    .testimonials__pattern--1 {
      width: 10.2vw;
      top: 0;
      left: 0; }
      @media only screen and (max-width: 900px) {
        .testimonials__pattern--1 {
          width: 19.1vw;
          max-width: 14.7rem; } }
      @media only screen and (max-width: 600px) {
        .testimonials__pattern--1 {
          width: 39.2vw; } }
    .testimonials__pattern--2 {
      width: 13.88vw;
      bottom: 0;
      right: 0; }
      @media only screen and (max-width: 900px) {
        .testimonials__pattern--2 {
          width: 26vw;
          max-width: 20rem; } }
      @media only screen and (max-width: 600px) {
        .testimonials__pattern--2 {
          width: 53.33vw; } }
