@mixin respond($breakpoint) {
  @if $breakpoint == tablet-land {
    @media only screen and (max-width: 1250px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
}


@mixin sectionPadding {
  padding: 0 $padding-side-desktop;

  @include respond(tablet) {
    padding: 0 $padding-side-tablet-sm;
  }

  @include respond(mobile) {
    padding: 0 $padding-side-mobile;
  }
}
