$color-primary-turquoise: #014E56;
$color-primary-pink: #F67E7E;

$color-azure: #79C8C7;
$color-blue: #2C6269;
$color-turquoise-1: #004047;
$color-turquoise-2: #012F34;
$color-turquoise-3: #002529;

$padding-side-desktop: 11.4vw;
$padding-side-tablet-lg: 12.6vw;
$padding-side-tablet-sm: 5.3vw;
$padding-side-mobile: 2.4rem;