.contact {
  background-color: $color-primary-turquoise;
  padding: 7.3rem 0 11.4rem;

  @include respond(tablet-land) {
    padding: 6.4rem 0 11.2rem;
  }

  @include respond(mobile-land) {
    padding: 4.4rem 0 8.8rem;
  }

  &__content {
    margin-top: 12rem;
    padding: 0 $padding-side-desktop;
    display: flex;
    justify-content: space-between;

    @include respond(tablet-land) {
      margin-top: 11.2rem;
      padding: 0 16.5vw;
      flex-direction: column;
    }

    @include respond(mobile-land) {
      margin-top: 8rem;
      padding: 0 $padding-side-tablet-lg;
    }

    @include respond(mobile) {
      padding: 0 $padding-side-mobile;
    }
  }

  &__intro,
  &__form {
    width: 37.5vw;

    @include respond(tablet-land) {
      width: 100%;
      max-width: 60rem;
      margin: auto;
    }
  }

  &__intro {
    margin-right: 3rem;

    @include respond(tablet-land) {
      margin-right: auto;
      margin-bottom: 6.4rem;
    }

    @include respond(mobile-land) {
      margin-bottom: 5.6rem;
    }
  }

  &__heading {
    margin-bottom: 1.6rem;

    @include respond(tablet-land) {
      margin-bottom: 2.4rem;
      line-height: 0.875;
      text-align: center;
    }

    @include respond(mobile-land) {
      margin-bottom: 1.6rem;
    }
  }

  &__subheading {
    font-size: 3.2rem;
    line-height: 1.5;
    margin-bottom: 3.2rem;

    @include respond(tablet-land) {
      margin-bottom: 2.4rem;
      text-align: center;
    }

    @include respond(mobile-land) {
      margin-bottom: 4rem;
    }
  }

  &__feature {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__icon {
    height: 7.2rem;
    margin-right: 2.3rem;
  }

  &__text {
    font-weight: 700;
  }

  &__pattern {
    position: absolute;
    width: 13.88vw;

    @include respond(tablet-land) {
      width: 26vw;
      max-width: 20rem;
    }

    @include respond(mobile-land) {
      width: 53vw;
    }

    &--1 {
      top: 24.1rem;
      left: 0;
      transform: translateX(-50%);

      @include respond(tablet) {
        top: 21.6rem;
      }

      @include respond(mobile-land) {
        display: none;
      }
    }

    &--2 {
      bottom: 0;
      right: 0;
      transform: translateX(50%);

      @include respond(mobile-land) {
        transform: translate(50%, 50%);
      }
    }
  }
}

/*** SUCCESS MESSAGE ***/
.success {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: $padding-side-mobile;
  z-index: 9999;
  transition: all 0.3s;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 90%;
    max-width: 45rem;
    height: 25rem;
    background-color: $color-turquoise-1;
    transform: translate(-50%, 80%);
    opacity: 0;
    transition: all 0.5s 0.2s;
  }

  &.active &__content {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: $color-primary-pink;
    }
  }

  &__text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    font-weight: 700;
    transform: translateY(-50%);
    padding: 0 3rem;
  }
}
